<div class="container-fluid" ng-controller="cvHeader" ng-init="init()">

    <div class="col-md-6">
        <a href="#menu">
            <img id="logo" src="../public/resources/descarga1.png" alt="cabezote">
        </a>
    </div>

    <div class="col-md-3">
    </div>

    <div class="col-md-3">

        <br />
        <span class="glyphicon glyphicon-user"></span>
        <label>Bienvenido(a), {{name}} </label>

        <p>
            <span class="glyphicon glyphicon-off"></span>
            <a href="../webapp/logout.html">Salida segura</a>
        </p>

    </div>

</div>