<div class="wrapper fadeInDown" ng-init="vmHeadquarters.init()">
    <div id="content" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

        <form class="form-group center-block">


            <div class="form-group center-block fadeIn second">
                <label>Ingrese Usuario</label>
                <input type="text" name="" id="" placeholder="Usuario">
                <br>
                <label>Contraseña</label><br>
                <input type="text" placeholder="Contraseña">
            </div>

            <div class="fadeIn fourth">
                <input type="submit" class="fadeIn fourth" value="Iniciar" ng-click="vmHeadquarters.login()">
            </div>

            <label></label>

        </form>
    </div>

</div>