<div class="container" ng-init="vmMenu.init()">


    <div class="row">
        <div class="col-md-12">
            <div class="row space-16">&nbsp;</div>
            <div class="row">

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            <p><span class="glyphicon glyphicon-envelope"></span>&nbsp;Reportes</p>
                            <div class="thumbnail-description smaller">Descripción de sub menú.</div>
                        </div>
                        <div class="caption card-footer text-center">
                            <input type="button" value="IR" ng-click="vmMenu.goToPage('subMenu')">
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            <p><span class="glyphicon glyphicon-glass"></span>&nbsp;Pedidos</p>
                            <div class="thumbnail-description smaller">Descripción de sub menú.</div>
                        </div>
                        <div class="caption card-footer text-center">
                            <input type="button" value="IR" ng-click="vmMenu.goToPage('subMenu')">
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            <p><span class="glyphicon glyphicon-folder-open"></span>&nbsp;Inventarios</p>
                            <div class="thumbnail-description smaller">Descripción de sub menú.</div>
                        </div>
                        <div class="caption card-footer text-center">
                            <input type="button" value="IR" ng-click="vmMenu.goToPage('subMenu')">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>