<div class="container" ng-init="vmMenu.init()">


    <div class="row">
        <div class="col-md-12">
            <div class="row space-16">&nbsp;</div>
            <div class="row">

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            <p><span class="glyphicon glyphicon-envelope"></span>&nbsp;Reportes Ventas</p>
                            <div class="thumbnail-description smaller">Listar Ventas del realizadas con su respectivo detalle</div>
                        </div>
                        <div class="caption card-footer text-center">
                            <input type="button" value="IR" ng-click="vmMenu.goToPage('venta')">
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            <p><span class="glyphicon glyphicon-glass"></span>&nbsp;Administración de productos</p>
                            <div class="thumbnail-description smaller">Administrar los productos del sistema</div>
                        </div>
                        <div class="caption card-footer text-center">
                            <input type="button" value="IR" ng-click="vmMenu.goToPage('subMenu')">
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            <p><span class="glyphicon glyphicon-folder-open"></span>&nbsp;Inventarios</p>
                            <div class="thumbnail-description smaller">Descripción de sub menú.</div>
                        </div>
                        <div class="caption card-footer text-center">
                            <input type="button" value="IR" ng-click="vmMenu.goToPage('subMenu')">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            <p><span class="glyphicon glyphicon-folder-open"></span>&nbsp;Administrar Promociones</p>
                            <div class="thumbnail-description smaller">item para administrar las promociones, creaerlas, actualizar o eliminar</div>
                        </div>
                        <div class="caption card-footer text-center">
                            <input type="button" value="IR" ng-click="vmMenu.goToPage('promosion')">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            <p><span class="glyphicon glyphicon-folder-open"></span>&nbsp;Facturacion - pedidos</p>
                            <!-- <div class="inner"> -->
                            <p>Facturas generadas hoy</p>
                            <h3>{{vmMenu.facturas}}</h3>
                            <!-- </div> -->
                        </div>
                        <div class="caption card-footer text-center">
                            <input type="button" value="IR" ng-click="vmMenu.goToPage('factura')">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>