<div class="container-fluid" ng-init="init()">
    <div class="col-md-6">
        <a href="#menu">
            <img id="logo" src="../public/resources/mobi.png" alt="cabezote-comfama" width="300px" height="200px">
        </a>
    </div>

    <div class="col-md-3">
    </div>

    <div class="col-md-3">

        <br />
        <span class="glyphicon glyphicon-user"></span>
        <label>Restablecer contraseña</label>
    </div>

</div>
<div class="wrapper fadeInDown" ng-init="vmRestore.init()">
    <div id="content" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <form class="form-group center-block" ng-submit="vmRestore.restore(vmRestore.data)" novalidate="novalidate">
            <div class="center-block fadeIn second">
                <div class="form-group">
                    <label>Ingrese nueva contraseña</label><br>
                    <input type="password" class="form-control" name="" id="" ng-model="vmRestore.data.password" required>
                    <label for=""></label>
                </div>
                <div class="form-group">
                    <label>Confirmar nueva contraseña</label><br>
                    <input type="password" class="form-control" ng-model="vmRestore.data.confirmPassword" required>
                    <label for=""></label>
                </div>
                <br>
            </div>
            <div class="fadeIn fourth">
                <input type="submit" class="fadeIn fourth" value="Restablecer">
            </div>
            <label class="error" style="color: red">{{vmRestore.data.error}}</label>
        </form>
    </div>
</div>