<div class="container-fluid" ng-init="vmUser.init()">
    <h3>Administrar usuarios</h3>
    <hr>
    <div class="row container">
        <div class="col-md-8">
            <table class="table table-striped" id="tableUser">
                <thead>    
                    <!-- On rows -->
                    <tr>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Correo</th>
                        <th>Celular</th>
                        <th>Rol</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <!-- On cells (`td` or `th`) -->
                <tbody>
                    <tr ng-repeat="item in vmUser.master.ListUser | filter:busqueda | orderBy:columna: reverse">
                        <td>{{item.Nombre}}</td>
                        <td>{{item.Edad}}</td>
                        <td>{{item.Correo}}</td>
                        <td>{{item.Celular}}</td>
                        <td>{{item.TipoRol}}</td>
                        <td><span ng-class="{'glyphicon glyphicon-ok': item.Estado == '1',
                            'glyphicon glyphicon-remove': item.Estado == '0'}"></span></td>
                            <td><button class="btn btn-primary" ng-click="vmUser.getUserOne(item.idUsuario)">
                                Editar
                            </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">

            <form name="formulario" ng-submit="vmUser.saveData(vmUser.dataUser)" novalidate="novalidate">
                <div class="form-group" ng-show="vmUser.Formulario">
                    <label for="id" class="control-label">Identificador</label>
                    <input type="text" id="id" class="form-control" name="id"
                        ng-model="vmUser.dataUser.idUsuario" disabled>
                </div>

                <div class="form-group">
                    <label for="nombre" class="control-label">Nombre</label>
                    <input type="text" id="nombre" class="form-control" name="nombre"
                        ng-model="vmUser.dataUser.Nombre" required>
                </div>
                <div class="form-group">
                    <label for="Edad" class="control-label">Edad</label>
                    <input type="text" id="Edad" class="form-control" name="Edad"
                        ng-model="vmUser.dataUser.Edad" required>
                </div>
                <div class="form-group">
                    <label for="Correo" class="control-label">Correo</label>
                    <input type="text" id="Correo" class="form-control" name="Correo"
                        ng-model="vmUser.dataUser.Correo" required>
                </div>
                <div class="form-group">
                    <label for="Celular" class="control-label">Celular</label>
                    <input type="text" id="Celular" class="form-control" name="Celular"
                        ng-model="vmUser.dataUser.Celular" required>
                </div>
                <div class="form-group">
                    <select name="rol" class="form-control" ng-model="vmUser.dataUser.Rol_idRol">
                        <option ng-repeat="option in vmUser.master.ListRol" value="{{option.idRol}}">{{option.TipoRol}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label btn btn-default">
                        Activo <input type="checkbox" ng-model="vmUser.dataUser.Estado" required>
                    </label>
                </div>

                <button type="submit" class="btn btn-primary"> {{vmUser.btnAction}}</button>
                <button type="reset" class="btn btn-default" ng-click="vmUser.clearForm()" ng-show="vmUser.Formulario"> Cancelar</button>
            </form>

        </div>
    </div>
</div>
<!-- <script type="text/javascript">
    $(document).ready(function()
    {
        $('#tableUser').dataTable();
    });
</script> -->