a {
    display: inline-block;
}

p {
    font-weight: bold;
}


/* STRUCTURE */

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

#logo {
    border-radius: 50%;
}


/* form vinculation header*/

#formHeader {
    background-color: #f6f6f6;
    padding: 15px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    font-size: 18px;
}


/*form vinculation body*/

#formContent {
    border-radius: 10px 10px 10px 10px;
    width: 99%;
    max-width: 2000px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}

.separator {
    background-color: #f6f6f6;
    text-align: center;
}

.separatorSearch {
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    border: #f6f6f6 3px solid;
    padding: 10px 40px;
}

.check {
    text-align: center;
}


/* FORM TYPOGRAPHY*/

input[type=button],
input[type=submit] {
    background-color: #337ab7;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5px 5px 5px 5px;
    margin: 20px 20px;
    width: 70%;
}

input[type=file] {
    background-color: #f6f6f6;
    padding: 15px 80px;
    border-radius: 5px 5px 5px 5px;
}


/*.btnReports {
    padding: 5px 8px !important;
    width: 80%
}*/

input[type=text],
input[type=number],
input[type=date],
input[type=password] {
    background-color: #f6f6f6;
    color: #0d0d0d;
    border: 2px solid #f6f6f6;
    border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid #EC2C79;
}

#select {
    background-color: #f6f6f6;
    border: 2px solid #f6f6f6;
}


/*MENU*/

.thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    min-width: 40%;
    border-radius: 5px;
    height: 400px;
    max-height: 400px;
}

.thumbnail-description {
    min-height: 50px;
}

.thumbnail:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}


/*REPORT*/

.report5 {
    padding: 20px;
}


/*List autocomplete headquarter*/

.list-group-item:hover {
    color: #337ab7;
    text-shadow: 0 0 1em #337ab7;
    cursor: pointer;
}


/*TABLE REPORT ENTAILMENT SCAN*/

.findHeadquarter1 {
    border-style: groove;
}

.loginData {
    position: absolute;
}

.tableScan {
    cursor: pointer;
}

.tableResponseDetails {
    width: 1040px;
}

#tableResponse {
    width: 1000px;
}

.parameter {
    padding: 4px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #EC2C79;
    border-bottom: 16px solid #EC2C79;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loaderMaster {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #EC2C79;
    border-bottom: 6px solid #EC2C79;
    width: 5px;
    height: 5px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Style attachSearch */

#btn_docs {
    position: absolute;
    border-radius: 10px 10px;
    margin: -18px -5px
}

#cont_docs {
    margin: 15px 15px;
}

a {
    cursor: pointer;
}